<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <title>Result Quiz</title>
</head>

<body>
  <div class="wrapper" id="main">
     <div class="title align-text">
       <h1>Admin Quiz App</h1>
       <h3>Categories:</h3>
     </div>
     <div class="container" id="column1">
       <div class="row center-div">
         <div class="col-md-3">
           <button class="cat btn" onclick="location.href='/show/users'"><i class="fa fa-paw"></i><br>Users</button>
         </div>
         <div class="col-md-3">
           <button class="cat btn" onclick="location.href='/show/result'"><i class="fa fa-paint-brush"></i><br>Result</button>
         </div>
        </div>
       </div>
     </div>
 </div>

</body>

</html>